<app-header />
<!-- *ngFor and *ngIf are structural directives -->
<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user [users]="user" (selectedUser)="onSelectedUser($event)" />
    </li>
  </ul>

  <app-tasks
    *ngIf="getSelectedUser; else fallback"
    [userId]="getSelectedUser!.id"
    [name]="getSelectedUser!.name"
  ></app-tasks>

  <ng-template #fallback>
    <p *ngIf="!getSelectedUser" id="fallback">
      Select a user to see their tasks
    </p>
  </ng-template>
</main>

<!-- @for and @if are available since Angular 17 -->
<!-- <main>
  <ul id="users">
    @for(user of users; track user.id) {
    <li>
      <app-user [users]="user" (selectedUser)="onSelectedUser($event)" />
    </li>
    }
  </ul>
  @if(getSelectedUser) {
  <app-tasks [name]="getSelectedUser.name"></app-tasks>
  } @else {
  <p id="fallback">Select a user to see their tasks</p>
  }
</main> -->
