<app-header />
<main>
  <ul id="users">
    <li>
      <app-user [users]="users[0]" (selectedUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [users]="users[1]" (selectedUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [users]="users[2]" (selectedUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [users]="users[3]" (selectedUser)="onSelectedUser($event)" />
    </li>
  </ul>
  <app-tasks [name]="getSelectedUser?.name"></app-tasks>
</main>
